<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Something went wrong</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <h1>Error Occured</h1>
          <p>Username or Password Not found</p>
          <a href="/" class="btn btn-danger">Back to Homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
