body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.lightMode {
  background-color: white;
  color: black;
  .form-control {
    color: black;
    background-color: white;
  }
}

.darkMode {
  background-color: black;
  color: white;
}

h1 {
  color: brown;
}
